body {
    background: #252729 !important;
    direction: rtl;
    font-family: fantasy;
}

.div-form {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-back {
    max-width: 230px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #787979;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 3px 4px 4px #3b3c42;
    border-radius: 5px;
}
.h2{
    margin-bottom: -17px;
}
.p{
    font-weight: 900;
}
.form-input {
    background-color: #d2d1b2;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}
.form-control:focus {
    z-index: 2;
}
input[type="text"] {
    margin-top:-4px;
    border: 2px solid #757779;
    border-radius: 5%;
}

input[type="password"] {
    margin: 15px 0px;
    border: 2px solid #757779;
    border-radius: 5%;
}
input[type=checkbox] {
    margin-bottom: 16px;
    font-weight: 500;
}

.btn {
    background-color:#0f6674;
    border:none;
    border-radius:5px;
    color:#fff;
    cursor: pointer;
    text-align:center;
    margin:2px;
    padding:6px;
    font-size:20px;
    width:216px;
    transition:0.3s;
}
.btn:hover{
    background-color:#252729;

}